@font-face {
  font-family: Branda;
  src: url(./fonts/Branda-yolq.ttf);
}

body {
  margin: 0;
  font-family: "Branda", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
