@font-face {
  font-family: Sega;
  src: url(./fonts/SEGA.TTF);
}

body {
  margin: 0;
  font-family: "Sega", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
